.calendar {
  position: absolute;
  top: 50px;
  left: 15%;
  z-index: 400;
  display: flex;
  flex-direction: row;
}
.bookingCalendar {
  position: absolute;
  top: 100px;
  left: 15%;
  z-index: 400;
  display: flex;
  flex-direction: row;
}
/* 
 */
.calenderInp {
  position: absolute;
  top: 20px;
  left: 37%;
  z-index: 500;
  /* width:; */
  border: none;
  font-size: medium;
}

.react-datepicker {
  border-width: 0;
  /* width: 100%; */
}

.react-datepicker__header {
  background-color: white;
  border-width: 0;
}
.react-datepicker__day--today{
  background-color: white ;
  color: black;
}
.react-datepicker__day--in-range {
  background-color: rgb(247, 247, 247);
  margin-left: 0 !important;
  padding-left: 2px !important;
  margin-right: 0 !important;
  padding-right: 3px !important;
  border: 2px solid transparent;
  color: black;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__day--selected {
  background-color: black;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.react-datepicker__day {
  border: 2px solid transparent;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  border: 2px solid black;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: initial;
  color: initial;
}

.react-datepicker__day--in-selecting-range {
  background-color: rgb(247, 247, 247) !important;
  border: 2px solid transparent;
  margin-left: 0 !important;
  padding-left: 2px !important;
  margin-right: 0 !important;
  padding-right: 3px !important;
  border-radius: 0 !important;
  color: black !important;
}

.react-datepicker__day--in-range:hover {
  background-color: rgb(247, 247, 247) !important;
  border: 2px solid transparent;
  margin-left: 0 !important;
  margin-right: 0 !important;
  color: black !important;
}

.react-datepicker__day:hover {
  border: 2px solid black;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}


